@use "./variables" as*;

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-grid {
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "texto1 wilmar"
    "texto1 wichu";       
    width: 80%; 
    margin: 60px auto; 
    
    h1 {
        color: $blanco;
        Font-size: 3em; 
        margin-bottom: 15px;         
        margin-top: 50px;
        grid-area: titulo;
    }        
}



.texto-aboutus p {
    
    max-width: 600px; 
    font-size: 220%;
    font-family: "Jockey One", sans-serif;
    margin-top: 40px; 
    text-align: center; 
    text-justify:newspaper;
} 

.galeria-aboutus {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: left;
    gap: 30px;
    margin-top: 70px;
    flex-wrap: wrap;  
    
    img { 
        width: auto;
        height: 330px;
        object-fit: cover;
        border-radius: 15px;
        

        
    }
}

