@use "./variables" as *;

/* Media Queries */

/* INDEX */

// Dispositivos pequeños (Menos de 576px)

@media (max-width: 575.98px) { 
    header {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        position: relative;

        
        
    }
    .logo {
        max-width: 150px; 
        position: absolute; 
        top: 0; 
        left: 10px;       

        
        img {
            max-width: 100%; 
            height: auto;
        }
    }

    .social-media {
        margin-left: 0;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
        position: fixed;
        top: 0;  
        left: 0;
        right: 0;
        text-align: right;

    
        z-index: 1050;
        

        .navbar-collapse { 
            width: min-content;
            max-width: calc(100vw - 40px); 
            position: absolute;
            top: 0;         
            right: 40px;  
            background-color: $negro;
            z-index: 1049;   
            padding-top: 80px;    
            padding-left: 3px;
            padding-right: 20px; 
            white-space: nowrap;        
           
        }

        .navbar-toggler { 
            position: relative; 
            z-index: 1051; 
            background-color: transparent; 
        }
    
        

        ul {
            flex-direction: column;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        li {
            margin: 5px 0;
        }
    }
    

    .contentIndex {
        margin: 5%;
        margin-top: 10px;
    }

    .banner img {
        width: 100%;
    }

    .welcome p {
        font-size: 200%;
    }

    #carouselExample {
        width: 90%;
    }

    .aboutusp {
        width: 90%;
        font-size: 150%;
        margin-left: 5%;
        margin-top: 30px;
    }

    .galeria {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    .galeria img {
        width: 90%;
        height: 300px;
    }

    form {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
        input, textarea {
            width: 95%;
        }
    }

    .gamesCards {
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .card {
        width: 90%;
    }

    .ourGames {
        padding: 30px;
        font-size: large;
    }

    footer {
        height: auto;
        padding: 10px 0;
        p {
            font-size: 17px;
            text-align: center;
            margin: 5px;
        }
        ul {
            gap: 10%;
            justify-content: center;
            
        }
        .social-media-footer {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;       
        
        }
        .social-media-footer li {
            width: 70%; 
            text-align: center; 
            margin: 5px 0;
            
        }
        .anexos-footer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;           
            padding-left: 20px;

            ul {
                display: flex;
                flex-direction: row !important;
                flex-wrap: wrap;
                justify-content: flex-start; 
                padding: 0;
                margin: 0;
                gap: 10px 15px;
            }           
            
        }

        .logo-footer {
            width: 20%;
        }
        
        
        /*
        .desktop-footer {
            display: none;
        }

        .responsive-footer {
            display: flex;
        } */

        
    }

    
}         


// Dispositivos medianos (576px en adelante)

@media (min-width: 576px) and (max-width: 767.98px) { 
    header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        justify-content: center;
        .logo {
            max-width: 160px; /* */
            margin-bottom: 10px; /* */
        }
        .social-media {
            margin-left: 0;
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
        }
        nav {
            width: 100%;
            ul {
                justify-content: center;
            }
        }
    }

    .contentIndex {
        margin: 7%;
    }

    .welcome p {
        font-size: 250%;
    }

    #carouselExample {
        width: 80%;
    }

    .aboutusp {
        width: 60%;
        font-size: 170%;
        margin-left: 7%;
    }

    .galeria img {
        width: 45%;
        height: 400px;
    }

    form {
        width: 70%;
        input, textarea {
            width: 90%;
        }
    }

    .gamesCards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        width: 45%;
    }

    footer {
        height: auto;
        padding: 10px;
        ul {
            justify-content: center;
            flex-wrap: wrap;
        }
        .desktop-footer {
            display: none;
        }
        .responsive-footer {
            display: flex;
        }
    }
} 

// Dispositivos de tamaño medio (tablets, 768px en adelante)

@media (min-width: 768px) and (max-width: 991.98px) { 
    header {
        .logo {
            max-width: 200px; 
        }
        nav {
            font-size: large;
        }
    }

    .contentIndex {
        margin: 8%;
    }

    #carouselExample {
        width: 75%;
    }

    .aboutusp {
        width: 45%;
        font-size: 180%;
    }

    .galeria img {
        width: 30%;
        height: 450px;
    }

    form {
        width: 500px;
    }

    .gamesCards {
        justify-content: space-around;
    }
    .card {
        width: 30%;
    }

    footer {
        height: auto;
        padding: 10px;
        ul {
            justify-content: center;
            flex-wrap: wrap;
        }
        .desktop-footer {
            display: none;
        }
        .responsive-footer {
            display: flex;
        }
        
    }
}

/* ABOUT US */

@media (max-width: 768px) {
    .aboutus-grid {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "titulo"
            "texto1"
            "wilmar"
            "wichu"; 
    }

    .texto1 {
        padding: 0 15px;
    }

    .texto-aboutus p {
        margin: 30px auto 0 auto; 
        font-size: 150%; 
    }

    .galeria-aboutus {
        gap: 20px; 
        margin-top: 30px; 
        img {
            height: 300px; 
        }
    }
}

/* PITCH US */

@media (max-width: 768px) {

    h1 { 
        font-size: 230%;
        margin-top: 40px;
    }

    p {
        font-size: 130%;
        justify-content: center;
        margin: 0 20px 0 40px;
    }

    form {

    width: 380px;

    }


}

